anytree==2.12.1
awscli==1.34.33
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.35.31
botocore==1.35.33
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docutils==0.16
Flask==3.0.3
greenlet==3.0.3
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
packaging==24.1
playwright
pyasn1==0.6.1
pyee==12.0.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rsa==4.7.2
s3transfer==0.10.2
six==1.16.0
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
