/* General Styles */
body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%; /* Add height for centering */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Augmented UI Customization */
.augmented-ui {
    --aug-border: 2px solid rgba(0, 183, 255, 1); /* Corrected variable name */
    --aug-border-bg: transparent; /* Corrected variable name */
    --aug-border-shadow: 0 0 20px rgba(0, 183, 255, 1); /* Corrected variable name */
    background: transparent;
    display: inline-block;
    padding: 20px;
    overflow: visible;
}

/* Typography */
h1, h2, h3, p, a {
    color: #fff;
    text-align: center;
}

/* Button Styles */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}

/* Input Styles */
input[type="url"] {
    background-color: #222;
    color: #fff;
    border: 1px solid #555;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="url"]::placeholder {
    color: #777;
}

/* Form Container */
form {
    max-width: 400px;
    margin: 0 auto;
}

